@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161574058-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-161574058-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DualPrep</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>

    <nav class="DP-navbar">
        <span class="DP-open-left">
            <a class="DP-navx" href="#" onclick="OpenLeftMenu()">
                <img src="~/images/HomeIcon.png">
            </a>
        </span>

        <span class="DP-open-right">
            <a class="DP-navx" href="#" onclick="OpenRightMenu()">
                <img src="~/images/AccountIcon.png">
            </a>
        </span>
    </nav>

    <div id="DP-left-menu" class="DP-left-nav">
        <a href="#" class="DP-BtnClose DP-navx" onclick="CloseLeftMenu()">&times;</a>
        <a class="DP-HMText" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        @*<a class="DP-HMText" asp-area="" asp-controller="Meals" asp-action="Index">Meal List</a>*@
        <a href="#" class="DP-HMText" onclick="OpenFoodMenu()">Food</a>
        @*<a class="DP-HMText" asp-area="" asp-controller="Exercises" asp-action="Index">Exercise List</a>*@
        <a href="#" class="DP-HMText" onclick="OpenWorkoutMenu()">Workouts</a>
    </div>

    <div id="DP-right-menu" class="DP-right-nav">
        <a href="#" class="DP-BtnClose DP-navx" onclick="CloseRightMenu()">&times;</a>
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="DP-HMText" asp-area="Identity" asp-page="/Account/Manage/Index">Hello @User.Identity.Name!</a>
        }
        else
        {
            <a class="DP-HMText" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="DP-HMText" asp-area="Identity" asp-page="/Account/Login">Login</a>
        }
        <a class="DP-HMText" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        @*<a class="DP-HMText" asp-area="" asp-controller="Meals" asp-action="Index">Meal List</a>*@
        <a href="#" class="DP-HMText" onclick="OpenFoodMenu()">Food</a>
        @*<a class="DP-HMText" asp-area="" asp-controller="Exercises" asp-action="Index">Exercise List</a>*@
        <a href="#" class="DP-HMText" onclick="OpenWorkoutMenu()">Workouts</a>
        @if (SignInManager.IsSignedIn(User))
        {
            <form class="DP-LogoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="DP-BtnATag">Logout</button>
            </form>
        }
    </div>

    <div id="DP-FoodMenuPop" class="DP-HomeMenu">
        <a href="#" class="DP-BtnClose DP-navx" onclick="CloseFoodMenu()">&times;</a>
        <a class="DP-HMText" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="DP-HMText" asp-area="" asp-controller="Meals" asp-action="Index">Find a Meal</a>
        <a class="DP-HMText" asp-area="" asp-controller="Meals" asp-action="Favorites">My Favorite Meals</a>
        <p class="DP-HMText">More options like entire meal plans coming soon.</p>
        <p class="DP-HMText">Check back often for new features and updates.</p>
    </div>

    <div id="DP-WorkoutMenuPop" class="DP-HomeMenu">
        <a href="#" class="DP-BtnClose DP-navx" onclick="CloseWorkoutMenu()">&times;</a>
        <a class="DP-HMText" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="DP-HMText" asp-area="" asp-controller="Exercises" asp-action="Index">Find an Exercise</a>
        <a class="DP-HMText" asp-area="" asp-controller="Exercises" asp-action="Favorites">My Favorite Exercises</a>
        <p class="DP-HMText">More options like entire workout plans coming soon.</p>
        <p class="DP-HMText">Check back often for new features and updates.</p>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="DP-navbar">
        <span class="DP-open-left">
            <a class="DP-navx" href="#" onclick="OpenLeftMenu()">
                <img src="~/images/HomeIcon.png">
            </a>
        </span>

        <span class="DP-open-right">
            <a class="DP-navx" href="#" onclick="OpenRightMenu()">
                <img src="~/images/AccountIcon.png">
            </a>
        </span>
    </footer>

    <script>
        function OpenLeftMenu() {
            document.getElementById('DP-left-menu').style.width = '100%';
        }
    </script>

    <script>
        function CloseLeftMenu() {
            document.getElementById('DP-left-menu').style.width = '0';
            document.getElementById('main').style.marginLeft = '0';
        }
    </script>

    <script>
        function OpenRightMenu() {
            document.getElementById('DP-right-menu').style.width = '100%';
        }
    </script>

    <script>
        function CloseRightMenu() {
            document.getElementById('DP-right-menu').style.width = '0';
            document.getElementById('main').style.marginLeft = '0';
        }
    </script>

    <script>
        function OpenFoodMenu() {
            document.getElementById('DP-FoodMenuPop').style.width = '100%';
        }
    </script>

    <script>
        function CloseFoodMenu() {
            document.getElementById('DP-FoodMenuPop').style.width = '0';
            document.getElementById('main').style.marginLeft = '0';
        }
    </script>

    <script>
        function OpenWorkoutMenu() {
            document.getElementById('DP-WorkoutMenuPop').style.width = '100%';
        }
    </script>

    <script>
        function CloseWorkoutMenu() {
            document.getElementById('DP-WorkoutMenuPop').style.width = '0';
            document.getElementById('main').style.marginLeft = '0';
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
