@model DualPrep.Models.Exercise

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="DP-DtPage">
    <div class="DP-Details">
        <h2 class="DP-DtName DP-WordWrap">
            @Html.DisplayFor(model => model.Name)
        </h2>
        <p class="DP-WordWrap">
            @Html.DisplayFor(model => model.Summary)
        </p>
        @if (Model.ImageUrl != null)
        {
            <div class="DP-DtDivImage">
                <img src="@Url.Content(@Model.ImageUrl)" />
            </div>
        }
        <h4>
            Equipment needed:
        </h4>
        <p class="DP-WordWrap">
            @Html.DisplayFor(model => model.Equipment)
        </p>
        <h4>
            How-To and tips:
        </h4>
        <p class="DP-WordWrap">
            @Html.Raw(Model.Directions.Replace(Environment.NewLine, "<br/>"))
        </p>
        <h4>
            Main muscle group:
        </h4>
        <p class="DP-WordWrap">
            @Html.DisplayFor(model => model.Muscle)
        </p>

        <div class="DP-ListWhiteSpace"></div>

        <div>
            @if (Model.CreatedByUser == ViewBag.UserId)
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            }
            <a asp-action="Index">Back to List</a>
        </div>

    </div>

    <div class="DP-DtSide">
        <form asp-action="Details" method="post">
            <input type="submit" value="Add to Favorites" class="DP-CreateSubmit" />
        </form>
        <p>When features like meal/workout plans, favorites, and my meals/exercises are added they can be found here.</p>
    </div>

</div>
