@model DualPrep.Models.Meal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="DP-DtPage">
    <div class="DP-Details DP-WordWrap">
        <h2 class="DP-DtName">
            @Html.DisplayFor(model => model.Name)
        </h2>
        <p class="DP-WordWrap">
            @Html.DisplayFor(model => model.Summary)
        </p>
        <h4>
            Ingredients needed:
        </h4>
        <p class="DP-WordWrap">
            @Html.Raw(Model.Ingredients.Replace(Environment.NewLine, "<br/>"))
        </p>
        <h4>
            Cooking Directions:
        </h4>
        <p class="DP-WordWrap">
            @Html.Raw(Model.Directions.Replace(Environment.NewLine, "<br/>"))
        </p>
        <h4>
            Ready In:
        </h4>
        <p class="DP-WordWrap">
            Prep Time:
            @Html.DisplayFor(model => model.PrepTime)
                
            Cook Time:
            @Html.DisplayFor(model => model.CookTime)
        </p>
        <h4 class="DP-WordWrap">
            Created By:
        </h4>
        <p class="DP-WordWrap">
            @Html.DisplayFor(model => model.Author)
        </p>

        <div class="DP-ListWhiteSpace"></div>

        <div>
            @if (Model.CreatedByUser == User.Identity.Name)
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            }

            <a asp-action="Index">Back to List</a>
        </div>

    </div>
    <div class="DP-DtSide">
        <form asp-action="Details" method="post">
            <input type="submit" value="Add to Favorites" class="DP-CreateSubmit"/>
        </form>
        <p>When features like meal/workout plans, favorites, and my meals/exercises are added they can be found here.</p>
    </div>
</div>
