@model IEnumerable<DualPrep.Models.Meal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="DP-List">
    <h1>Meals</h1>

    <p>
        <a class="DP-CreateBTN" asp-action="Create">Create</a>
    </p>
    <br />

    <div>

        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id"><p class="DP-ItemName DP-WordWrap">@Html.DisplayFor(modelItem => item.Name)</p></a> @*|*@
            <p class="DP-WordWrap">
                @Html.DisplayFor(modelItem => item.Summary)
            </p>
            <p class="DP-WordWrap">
                @Html.DisplayNameFor(model => model.Ingredients):
                <pre>@Html.DisplayFor(modelItem => item.Ingredients)</pre>
            </p>
            <p class="DP-WordWrap">
                @Html.DisplayNameFor(model => model.PrepTime):
                @Html.DisplayFor(modelItem => item.PrepTime)
            </p>
            <p class="DP-WordWrap">
                @Html.DisplayNameFor(model => model.CookTime):
                @Html.DisplayFor(modelItem => item.CookTime)
            </p>
            <p class="DP-WordWrap">
                @Html.DisplayNameFor(model => model.Author):
                @Html.DisplayFor(modelItem => item.Author)
            </p>

            <a asp-action="Details" asp-route-id="@item.Id">Details</a> @*|*@

            @if (item.CreatedByUser == User.Identity.Name)
            {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            } @*|*@

            @if (User.IsInRole("Administrator"))
            {
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            }

            <div class="DP-ListWhiteSpace"> </div>
            <hr />
        }

    </div>
</div>
